@using BusinessModels.Utils
<MudDialog>

    <DialogContent>
        <style>
            .mud-dialog-title{
                padding: 0px !important;
            }
            .mud-dialog-content{
                margin: 0px !important;
                padding: 0px !important;
            }

        </style>
        <MudPaper Class="mud-height-full mud-width-full" Elevation="0" Style="overflow:hidden; position:relative;" >
            <MudDrawerContainer Class="mud-height-full" >
                <MudDrawer Anchor="Anchor.End" @bind-Open="@_open" Color="MudColor.Default" Elevation="0" Variant="@DrawerVariant.Persistent" Width="min(500px, 100vw)" >
                    <MudDrawerHeader>
                        <MudText Typo="Typo.h6" >@File.FileName</MudText>
                    </MudDrawerHeader>

                    <div class="d-flex flex-column gap-3 pa-3" >
                        <MudText>File size: @File.FileSize.ToString("N0")</MudText>
                        <MudText>Modified date: @File.ModifiedTime</MudText>
                    </div>
                </MudDrawer>

                <div class="d-flex flex-column mud-height-full" >
                    <MudListSubheader Class="align-center d-flex flex-row gap-2 pb-2" >

                        <MudTooltip Arrow Color="MudColor.Secondary" Placement="Placement.Bottom" Text="@AppLang.Close" >
                            <MudIconButton Class="aspect-1-1 mr-3 rounded-circle" Color="MudColor.Default" Icon="@Icons.Material.Filled.Close" OnClick="@CloseDialog" Size="MudSize.Small" Variant="Variant.Outlined" />
                        </MudTooltip>

                        <MudChip Class="d-md-block d-none mx-0 my-2" Color="MudColor.Primary" Icon="@Icons.Material.Filled.FormatPaint" Size="MudSize.Small" T="string" >Remix</MudChip>
                        <MudChip Class="d-md-block d-none mx-0 my-2" Color="MudColor.Secondary" Icon="@Icons.Material.Filled.Bookmark" Size="MudSize.Small" T="string" >Save</MudChip>
                        <MudChip Class="d-md-block d-none mx-0 my-2" Color="MudColor.Tertiary" Icon="@Icons.Material.Filled.Image" Size="MudSize.Small" T="string" >View post</MudChip>
                        <MudChip Class="d-md-block d-none mx-0 my-2" Color="MudColor.Tertiary" Icon="@Icons.Material.Filled.Bolt" Size="MudSize.Small" T="string" >Tip</MudChip>

                        <MudSpacer />
                        <MudTooltip Arrow Color="MudColor.Secondary" Placement="Placement.Bottom" Text="@AppLang.Download" >
                            <MudIconButton Class="aspect-1-1 rounded-circle" Color="MudColor.Default" Icon="@Icons.Material.Filled.ArrowDownward" Size="MudSize.Small" Variant="Variant.Outlined" />
                        </MudTooltip>

                        <MudTooltip Arrow Color="MudColor.Secondary" Placement="Placement.Bottom" Text="@AppLang.Share" >
                            <MudIconButton Class="aspect-1-1 rounded-circle" Color="MudColor.Default" Icon="@Icons.Material.Filled.Share" Size="MudSize.Small" Variant="Variant.Outlined" />
                        </MudTooltip>
                        <MudTooltip Arrow Color="MudColor.Secondary" Placement="Placement.Bottom" Text="@AppLang.Bookmark" >
                            <MudIconButton Class="aspect-1-1 rounded-circle" Color="MudColor.Default" Icon="@Icons.Material.Filled.Flag" Size="MudSize.Small" Variant="Variant.Outlined" />
                        </MudTooltip>

                        <MudTooltip Arrow Color="MudColor.Secondary" Placement="Placement.Bottom" Text="@AppLang.Sidebar" >
                            <MudIconButton Class="aspect-1-1 ml-3 rounded-circle" Color="MudColor.Default" Icon="@(_open ? Icons.Material.Filled.SwitchRight : Icons.Material.Filled.SwitchLeft)" OnClick="@ChangeSideBar" Size="MudSize.Small" Variant="Variant.Outlined" />
                        </MudTooltip>


                    </MudListSubheader>

                    <div class="align-center d-flex flex-1 justify-center overflow-hidden" >

                        @if (File.ContentType.IsImageFile())
                        {
                            <img alt="@File.FileName" src="@ImageUrl" />
                        }
                        else if (File.ContentType.IsVideoFile())
                        {
                            <video aria-label="@File.FileName" controls src="@ImageUrl" ></video>
                        }

                    </div>


                </div>
            </MudDrawerContainer>
        </MudPaper>
    </DialogContent>
</MudDialog>

