
@rendermode InteractiveWebAssembly
@attribute [Route(PageRoutes.Home.Root.Src)]

@* @attribute [Authorize] *@

<PageTitle>@LangDict[PageRoutes.Home.Root.Title]</PageTitle>
<HeadContent>
    <HeadContentContainer MetaProperty="@PageRoutes.Home.Root.MetaData"/>
</HeadContent>


<MudButton StartIcon="@Icons.Material.Filled.Balance" OnClick="@Crypting">@CultureInfo.CurrentCulture.Name</MudButton>
<MudButton OnClick="@DeCrypting">DeEncrypt</MudButton>

<MudButton Color="MudColor.Primary" OnClick="@GetWeather" Variant="Variant.Filled">Get Weather</MudButton>



@* <div class="grid-container" @onmousedown="GridContainerMouseDown" @onmousemove="GridContainerMouseMove"> *@
@*      *@
@*     @for (int i = 0; i < 100; i++) *@
@*     { *@
@*         var index = i; *@
@*         string sensorIndex = $"A{index}"; *@
@*         <SensorSignal SensorId="@sensorIndex" @key="sensorIndex"/> *@
@*         <ServerTime @key="index"/> *@
@*     } *@
@*      *@
@* </div> *@

<ApexChart TItem="MyData" @ref="ChartRef" Options="ChartOption" XAxisType="XAxisType.Datetime"
           Title="Sample Data">

    <ApexPointSeries TItem="MyData"
                     Items="Data"
                     Name="Net Profit"
                     SeriesType="SeriesType.Bar"
                     XValue="e => e.Category"
                     YValue="e=> e.NetProfit"
                     PointColor="PointColor"/>

    <ApexPointSeries TItem="MyData"
                     Items="Data"
                     Name="Revenue"
                     SeriesType="SeriesType.Line"
                     XValue="e => e.Category"
                     YValue="e=> e.StuPid"
                     PointColor="Point2Color"/>
</ApexChart>


