@using WebApp.Client.Components.Clock
@using WebApp.Client.Components.IoT
@rendermode InteractiveWebAssembly
@attribute [Route(PageRoutes.Home.Root.Src)]

@* @attribute [Authorize] *@

<PageTitle>@LangDict[PageRoutes.Home.Root.Title]</PageTitle>
<HeadContent>
    <HeadContentContainer MetaProperty="@PageRoutes.Home.Root.MetaData"/>
</HeadContent>


<MudButton StartIcon="@Icons.Material.Filled.Balance" OnClick="@Crypting">@CultureInfo.CurrentCulture.Name</MudButton>
<MudButton OnClick="@DeCrypting">DeEncrypt</MudButton>

<MudButton Color="MudColor.Primary" OnClick="@GetWeather" Variant="Variant.Filled">Get Weather</MudButton>



<div class="grid-container">
    
    @for (int i = 0; i < 100; i++)
    {
        var index = i;
        string sensorIndex = $"A{index}";
        <SensorSignal SensorId="@sensorIndex" @key="sensorIndex"/>
        <ServerTime @key="index"/>
    }
    
</div>

<ApexChart TItem="MyData" @ref="ChartRef" Options="ChartOption"
           Title="Sample Data">

    <ApexPointSeries TItem="MyData"
                     Items="Data"
                     Name="Net Profit"
                     SeriesType="SeriesType.Bar"
                     XValue="e => e.Category"
                     YValue="e=> e.NetProfit"/>

    <ApexPointSeries TItem="MyData"
                     Items="Data"
                     Name="Revenue"
                     SeriesType="SeriesType.Bar"
                     XValue="e => e.Category"
                     YValue="e=> e.Revenue"/>
</ApexChart>


@code {
    private List<MyData> Data { get; set; } = new();

    protected override void OnInitialized()
    {
        Data.Add(new MyData { Category = "Jan", NetProfit = 12, Revenue = 33 });
        Data.Add(new MyData { Category = "Feb", NetProfit = 43, Revenue = 42 });
        Data.Add(new MyData { Category = "Mar", NetProfit = 112, Revenue = 23 });
    }

    public class MyData
    {
        public string Category { get; set; } = string.Empty;
        public int NetProfit { get; set; }
        public int Revenue { get; set; }
    }

}