@attribute [Route(PageRoutes.ContentCreator.Index.Src)]
@rendermode InteractiveServer
@attribute [AllowAnonymous]
@using WebApp.Client.Components.CodeEditor


<!--suppress CssUnresolvedCustomProperty -->
<PageTitle>@Title</PageTitle>

<SectionContent SectionId="@AppBar.TopBarSection1" >
    <MudIconButton Color="Color.Primary" Icon="@Icons.Material.Filled.Add" OnClick="@AddNewArticle" ></MudIconButton>
</SectionContent>

@if (Loading)
{
    <SectionContent SectionId="@AppBar.TopBarSection2" >
        <MudProgressCircular Color="Color.Primary" Indeterminate="true" Size="Size.Small" />
    </SectionContent>
}

<HeadContent>
    <HeadContentContainer MetaProperty="@MetaData" />
</HeadContent>

<div class="mud-width-full overflow-x-hidden" style="height: calc(100dvh - var(--mud-appbar-height))" >

    <MonacoCodeEditor @ref="MonacoCodeEditor" Code="@Article" CodeChanged="@ArticalChanged"/>
    
</div>
