@attribute [Route(PageRoutes.Drive.Shared.Src)]
@attribute [Route(PageRoutes.Drive.Shared.Src + "/{FolderId}")]
@attribute [Route("/")]
@attribute [AllowAnonymous]

<PageTitle>
    @PageRoutes.Drive.Shared.Title
</PageTitle>

<HeadContent>
    <HeadContentContainer Description="@PageRoutes.Drive.Shared.Description" Uri="@Navigation.Uri" />
</HeadContent>

<SectionContent SectionId="@AppBar.BreadCrumb" >
    <MudBreadcrumbs Class="d-none d-md-flex" Items="@BreadcrumbItems" ></MudBreadcrumbs>
</SectionContent>

@if (Loading)
{
    <SectionContent SectionId="@AppBar.TopBarSection1" >
        <MudProgressCircular Color="Color.Primary" Indeterminate="true" Size="Size.Small" />
    </SectionContent>
}

<SectionContent SectionId="@AppBar.TopBarSection2" >
    <MudMenu AnchorOrigin="Origin.BottomLeft" EndIcon="@Icons.Material.Filled.KeyboardArrowDown" IconColor="Color.Secondary" Label="@AppLang.New" StartIcon="fa-plus fa-solid" TransformOrigin="Origin.TopLeft" >
        <MudMenuItem Icon="@Icons.Material.Filled.AttachFile" OnClick="@OpenAddPopUp" >@AppLang.File</MudMenuItem>
        <MudMenuItem Icon="@Icons.Material.Filled.Folder" OnClick="@OpenAddNewFolder" >@AppLang.Folder</MudMenuItem>
    </MudMenu>
</SectionContent>

<MudDropContainer Class="d-flex flex-column flex-grow-1 gap-3" ItemDropped="ItemUpdated" Items="FileItemList" ItemsSelector="@((item, dropzone) => item.Identifier == dropzone)" @ref="DropContainer" T="DropItem" >
    <ChildContent>
        <MudListSubheader Class="mt-4 pb-2" >Folders</MudListSubheader>
        <div class="d-flex flex-wrap gap-4 mx-4" >

            @foreach (var x in FolderItemList)
            {
                <MudDropZone Identifier="Work" @key="x" OnlyZone="true" T="DropItem" >
                    <div class="@x.ItemClassList" @ondblclick="x.DbLickEvent.Action" >
                        <MudIcon Color="Color.Inherit" Icon="fa-solid fa-folder" />
                        <div class="flex-1" >
                            <span class="text-ellipsis white-space-nowrap" >
                                @x.Name
                            </span>
                        </div>

                        <div class="icon-container-tag" >
                            <MudTooltip Arrow Color="@Color.Secondary" Placement="Placement.Top" Text="@AppLang.Other_operations" >
                                <MudMenu AriaLabel="@AppLang.Other_operations" Icon="fa-ellipsis-vertical fa-solid" >
                                    <MudMenuItem Disabled="@x.Download.Disabled" Icon="@Icons.Material.Filled.CloudDownload" OnClick="@x.Download.Action" >Download</MudMenuItem>
                                    <MudMenuItem Disabled="@x.Rename.Disabled" Icon="@Icons.Material.Filled.Edit" OnClick="@x.Rename.Action" >Rename</MudMenuItem>
                                    <MudMenuItem Disabled="@x.Share.Disabled" Icon="@Icons.Material.Filled.Share" OnClick="@x.Share.Action" >Share</MudMenuItem>
                                    <MudMenuItem Disabled="@x.GetLink.Disabled" Icon="@Icons.Material.Filled.Link" OnClick="@x.GetLink.Action" >Get link</MudMenuItem>
                                    <MudMenuItem Disabled="@x.MoveTo.Disabled" Icon="@Icons.Material.Filled.DriveFileMove" OnClick="@x.MoveTo.Action" >Move to</MudMenuItem>
                                    <MudMenuItem Disabled="@x.GetInformation.Disabled" Icon="@Icons.Material.Filled.Info" OnClick="@x.GetInformation.Action" >Info</MudMenuItem>
                                    <MudMenuItem Disabled="@x.Delete.Disabled" Icon="@Icons.Material.Filled.DeleteForever" IconColor="Color.Error" OnClick="@x.Delete.Action" >Delete</MudMenuItem>
                                </MudMenu>
                            </MudTooltip>
                        </div>
                    </div>
                </MudDropZone>
            }

        </div>
        <MudListSubheader Class="mt-4 pb-2" >Files</MudListSubheader>
        <MudDropZone Class="d-flex flex-grow-1 flex-wrap gap-2 pa-2 rounded-lg" Identifier="File" T="DropItem" />
    </ChildContent>
    <ItemRenderer>
        <div class="@context.ItemClassList" @key="context" @ondblclick="context.DbLickEvent.Action" >
            <div class="icon-container-tag" >
                <MudText Typo="Typo.h6" >
                    <i class="@context.ContentType.GetIcon()" ></i>
                </MudText>
            </div>
            <div class="flex-1" >
                <span class="text-ellipsis white-space-nowrap" >
                    @context.Name
                </span>
            </div>
            <div class="icon-container-tag" >
                <MudTooltip Arrow Color="@Color.Secondary" Placement="Placement.Top" Text="@AppLang.Other_operations" >
                    <MudMenu AriaLabel="@AppLang.Other_operations" Icon="fa-ellipsis-vertical fa-solid" >
                        <MudMenuItem Disabled="@context.Download.Disabled" Icon="@Icons.Material.Filled.CloudDownload" OnClick="@context.Download.Action" >Download</MudMenuItem>
                        <MudMenuItem Disabled="@context.Rename.Disabled" Icon="@Icons.Material.Filled.Edit" OnClick="@context.Rename.Action" >Rename</MudMenuItem>
                        <MudMenuItem Disabled="@context.Share.Disabled" Icon="@Icons.Material.Filled.Share" OnClick="@context.Share.Action" >Share</MudMenuItem>
                        <MudMenuItem Disabled="@context.GetLink.Disabled" Icon="@Icons.Material.Filled.Link" OnClick="@context.GetLink.Action" >Get link</MudMenuItem>
                        <MudMenuItem Disabled="@context.MoveTo.Disabled" Icon="@Icons.Material.Filled.DriveFileMove" OnClick="@context.MoveTo.Action" >Move to</MudMenuItem>
                        <MudMenuItem Disabled="@context.GetInformation.Disabled" Icon="@Icons.Material.Filled.Info" OnClick="@context.GetInformation.Action" >Info</MudMenuItem>
                        <MudMenuItem Disabled="@context.Delete.Disabled" Icon="@Icons.Material.Filled.DeleteForever" IconColor="Color.Error" OnClick="@context.Delete.Action" >Delete</MudMenuItem>
                    </MudMenu>
                </MudTooltip>
            </div>
        </div>
    </ItemRenderer>
</MudDropContainer>

<MudDrawer Anchor="Anchor.Right" @bind-Open="@Open" Color="Color.Primary" Elevation="0" Variant="@DrawerVariant.Temporary" Width="min(1200px, 100vw)" >
    <MudDrawerHeader>
        <MudText Typo="Typo.h6" >File upload</MudText>
    </MudDrawerHeader>
    <div class="container" >
        <div class="header" >
            <svg fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" >
                <g id="SVGRepo_bgCarrier" stroke-width="0" ></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" ></g>
                <g id="SVGRepo_iconCarrier" >
                    <path d="M7 10V9C7 6.23858 9.23858 4 12 4C14.7614 4 17 6.23858 17 9V10C19.2091 10 21 11.7909 21 14C21 15.4806 20.1956 16.8084 19 17.5M7 10C4.79086 10 3 11.7909 3 14C3 15.4806 3.8044 16.8084 5 17.5M7 10C7.43285 10 7.84965 10.0688 8.24006 10.1959M12 12V21M12 12L15 15M12 12L9 15"
                          stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" />
                </g>
            </svg>
            <p>Browse File to upload!</p>
        </div>

    </div>
</MudDrawer>