@attribute [Route(PageRoutes.Drive.Shared.Src)]
@attribute [Route(PageRoutes.Drive.Shared.Src + "/{FolderId}")]
@attribute [Route("/")]
@attribute [AllowAnonymous]

<PageTitle>
    @LangDict[PageRoutes.Drive.Shared.Title]
</PageTitle>

<HeadContent>
    <HeadContentContainer MetaProperty="@PageRoutes.Drive.Shared.MetaData"/>
</HeadContent>

<SectionContent SectionId="@AppBar.BreadCrumb" >
    <MudBreadcrumbs Class="d-none d-md-flex" Items="@BreadcrumbItems" ></MudBreadcrumbs>
</SectionContent>

@if (Loading)
{
    <SectionContent SectionId="@AppBar.TopBarSection1" >
        <MudProgressCircular Color="Color.Primary" Indeterminate="true" Size="Size.Small" />
    </SectionContent>
}

<SectionContent SectionId="@AppBar.TopBarSection2" >
    <MudMenu AnchorOrigin="Origin.BottomLeft" EndIcon="@Icons.Material.Filled.KeyboardArrowDown" Dense IconColor="Color.Secondary" Label="@AppLang.New" StartIcon="fa-plus fa-solid" TransformOrigin="Origin.TopLeft" >
        <MudMenuItem Icon="@Icons.Material.Filled.AttachFile" OnClick="@OpenAddPopUp" >@AppLang.File</MudMenuItem>
        <MudMenuItem Icon="@Icons.Material.Filled.Folder" OnClick="@OpenAddNewFolder" >@AppLang.Folder</MudMenuItem>
    </MudMenu>
</SectionContent>

<MudDropContainer Class="d-flex flex-column flex-grow-1 gap-3" ItemDropped="ItemUpdated" Items="FileItemList" ItemsSelector="@((item, dropzone) => item.Identifier == dropzone)" @ref="DropContainer" T="DropItem" >
    <ChildContent>
        <MudListSubheader Class="mt-4 pb-2" >Folders</MudListSubheader>
        <div class="d-flex flex-wrap gap-4 mx-4 " >

            @foreach (var x in FolderItemList)
            {
                <MudDropZone Identifier="Work" @key="x" OnlyZone="true" T="DropItem" >
                    <div class="@x.ItemClassList" @ondblclick="x.DbLickEvent.Action" >
                        <MudIcon Color="Color.Inherit" Icon="fa-solid fa-folder" />
                        <div class="flex-1" >
                            <span class="text-ellipsis white-space-nowrap" >
                                @x.Name
                            </span>
                        </div>

                        <div class="icon-container-tag" >
                            <MudTooltip Arrow Color="@Color.Secondary" Placement="Placement.Top" Text="@AppLang.Other_operations" >
                                <MudMenu AriaLabel="@AppLang.Other_operations" Icon="fa-ellipsis-vertical fa-solid" Dense>
                                    <MudMenuItem Disabled="@x.Download.Disabled" Icon="@Icons.Material.Filled.CloudDownload" OnClick="@x.Download.Action" >Download</MudMenuItem>
                                    <MudMenuItem Disabled="@x.Rename.Disabled" Icon="@Icons.Material.Filled.Edit" OnClick="@x.Rename.Action" >Rename</MudMenuItem>
                                    <MudMenuItem Disabled="@x.Share.Disabled" Icon="@Icons.Material.Filled.Share" OnClick="@x.Share.Action" >Share</MudMenuItem>
                                    <MudMenuItem Disabled="@x.GetLink.Disabled" Icon="@Icons.Material.Filled.Link" OnClick="@x.GetLink.Action" >Get link</MudMenuItem>
                                    <MudMenuItem Disabled="@x.MoveTo.Disabled" Icon="@Icons.Material.Filled.DriveFileMove" OnClick="@x.MoveTo.Action" >Move to</MudMenuItem>
                                    <MudMenuItem Disabled="@x.GetInformation.Disabled" Icon="@Icons.Material.Filled.Info" OnClick="@x.GetInformation.Action" >Info</MudMenuItem>
                                    <MudMenuItem Disabled="@x.Delete.Disabled" Icon="@Icons.Material.Filled.DeleteForever" IconColor="Color.Error" OnClick="@x.Delete.Action" >Delete</MudMenuItem>
                                </MudMenu>
                            </MudTooltip>
                        </div>
                    </div>
                </MudDropZone>
            }

        </div>
        <MudListSubheader Class="mt-4 pb-2" >Files</MudListSubheader>
        <MudDropZone Class="d-flex flex-grow-1 flex-wrap gap-2 pa-2 rounded-lg" Identifier="File" T="DropItem" />
    </ChildContent>
    <ItemRenderer>
        <div class="@context.ItemClassList" @key="context" @ondblclick="context.DbLickEvent.Action" >
            <div class="icon-container-tag" >
                <MudText Typo="Typo.h6" >
                    <i class="@context.ContentType.GetIcon()" ></i>
                </MudText>
            </div>
            <div class="flex-1" >
                <span class="text-ellipsis white-space-nowrap" >
                    @context.Name
                </span>
            </div>
            <div class="icon-container-tag" >
                <MudTooltip Arrow Color="@Color.Secondary" Placement="Placement.Top" Text="@AppLang.Other_operations" >
                    <MudMenu AriaLabel="@AppLang.Other_operations" Icon="fa-ellipsis-vertical fa-solid" >
                        <MudMenuItem Disabled="@context.Download.Disabled" Icon="@Icons.Material.Filled.CloudDownload" OnClick="@context.Download.Action" >Download</MudMenuItem>
                        <MudMenuItem Disabled="@context.Rename.Disabled" Icon="@Icons.Material.Filled.Edit" OnClick="@context.Rename.Action" >Rename</MudMenuItem>
                        <MudMenuItem Disabled="@context.Share.Disabled" Icon="@Icons.Material.Filled.Share" OnClick="@context.Share.Action" >Share</MudMenuItem>
                        <MudMenuItem Disabled="@context.GetLink.Disabled" Icon="@Icons.Material.Filled.Link" OnClick="@context.GetLink.Action" >Get link</MudMenuItem>
                        <MudMenuItem Disabled="@context.MoveTo.Disabled" Icon="@Icons.Material.Filled.DriveFileMove" OnClick="@context.MoveTo.Action" >Move to</MudMenuItem>
                        <MudMenuItem Disabled="@context.GetInformation.Disabled" Icon="@Icons.Material.Filled.Info" OnClick="@context.GetInformation.Action" >Info</MudMenuItem>
                        <MudMenuItem Disabled="@context.Delete.Disabled" Icon="@Icons.Material.Filled.DeleteForever" IconColor="Color.Error" OnClick="@context.Delete.Action" >Delete</MudMenuItem>
                    </MudMenu>
                </MudTooltip>
            </div>
        </div>
    </ItemRenderer>
</MudDropContainer>

<MudDrawer Anchor="Anchor.End" @bind-Open="Open" Color="Color.Primary" Elevation="0" Variant="@DrawerVariant.Temporary" OverlayAutoClose Width="min(300px, 90vw)">
    <MudDrawerHeader>
        <MudText Typo="Typo.h6" >File upload</MudText>
    </MudDrawerHeader>
    <div class="container" >
        <div class="header" >
            <MudText Typo="Typo.h1">
                <i class="fa-solid fa-cloud-arrow-up"></i>
            </MudText>
            <MudText Align="Align.Center">Browse File to upload!</MudText>
        </div>
        <div class="file-list-upload" >
            @foreach (var x in FileUploadList)
            {
                <div @key="x.Id">
                    <div class="icon" >
                        <i class="@x.ContentType.GetIcon()"></i>
                    </div>
                    <div class="d-flex flex-row gap-0" >
                        <MudText>@x.FileName</MudText>
                        <MudProgressCircular Color="Color.Primary" Size="Size.Small" Value="@UploadProgress[x.Id]"/>
                    </div>
                </div>
            }
        </div>
    </div>
</MudDrawer>