<!DOCTYPE html>
<html lang="@lang">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <link rel="stylesheet" href="@Assets["app.css"]"/>
    <link rel="icon" href="favicon.ico"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.manifest">
    <link href="@Assets["Web.styles.css"]" rel="stylesheet">
    <link href="@Assets["css/googleapi.css"]" rel="stylesheet" type="text/css"/>
    <link href="@Assets["fontawesome-free-6.5.2-web/css/all.css"]" rel="stylesheet"/>
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet"/>
    <HeadOutlet @rendermode="RenderMode"/>
    <title>Zme</title>
</head>

<body>

<Routes @rendermode="RenderMode"/>

@* Loading Progress *@

<div class="progress-wrapper" id="progress-wrapper">
    <div class="progress-box-wrap">
        <div class="box one"></div>
        <div class="box two"></div>
        <div class="box three"></div>
        <div class="box four"></div>
        <div class="box five"></div>
        <div class="box six"></div>
    </div>
    <div class="progress-bar">
        <div class="progress"></div>
    </div>
</div>

@* Loading Progress *@

<script src="_framework/blazor.web.js"></script>
<script src="_content/MudBlazor/MudBlazor.min.js"></script>
<script src="js/app.js"></script>
<script src="js/encryption.js"></script>

</body>

</html>

@code
{
    private string lang { get; } = Thread.CurrentThread.CurrentCulture.Name;
    private static readonly InteractiveWebAssemblyRenderMode RenderMode = new(false);
}