<div class="d-flex flex-row gap-1" >
    <div>
        <MudTooltip Arrow Color="Color.Secondary" Placement="Placement.Right" Text="Theme" >
            <MudIconButton Class="blazor-SmAndDown-hidden" Color="Color.Inherit"
                           Icon="@(IsDarkMode.HasValue ? IsDarkMode.Value ? Icons.Material.Filled.DarkMode : Icons.Material.Filled.LightMode : Icons.Material.Filled.AutoMode)"
                           OnClick="@ThemeModeChanged" >
                @(IsDarkMode.HasValue ? IsDarkMode.Value ? AppLang.Dark_mode : AppLang.Light_mode : AppLang.System_preference)
            </MudIconButton>
        </MudTooltip>
    </div>
    <div class="flex-1">
        <MudSelect AnchorOrigin="Origin.BottomCenter"
                   Value="@Theme" ValueChanged="@ThemeValueChanged"
                   Class="culture-selector"
                   Margin="Margin.Dense"
                   T="string"
                   Variant="Variant.Text" >
            @foreach (var item in MudThemes)
            {
                <MudSelectItem @key="item.Key" Value="item.Key" >@item.Key</MudSelectItem>
            }
        </MudSelect>
    </div>

</div>