@attribute [Route(PageRoutes.Account.SignIn)]
@attribute [Route(PageRoutes.Account.SignInError + "/{ErrorMessage}")]
@layout SignInLayout

<PageTitle>@AppLang.Sign_in_to_your_account</PageTitle>

<div class="sign-up-form">
    <div class="d-flex justify-center align-center flex-column">
        <div>
            <img src="images/1.png" class="img-fluid" style="width: 250px;" alt="">
        </div>
        <p class="text-white fs-2" style="font-family: 'Courier New', Courier, monospace; font-weight: 600;">Be Verified</p>
        <small class="text-white text-wrap text-center" style="width: 17rem;font-family: 'Courier New', Courier, monospace;" >
            Join experienced Designers on this platform.
        </small>
    </div>

    <div class="main-form">
        <MudCarousel @ref="CarouselLogin" Class="mud-width-full" ShowArrows="false" @bind-SelectedIndex="CurrentIndex" ShowBullets="false" EnableSwipeGesture="false" AutoCycle="false" TData="object">
            <MudCarouselItem Transition="Transition.Slide" Color="@Color.Default">
                <div class="d-flex mud-width-full mud-height-full">
                    <MudForm @ref="FormUser" @bind-Errors="@FormError" @bind-IsValid="IsValid" Class="align-center justify-center mud-width-full">
                        <div class="form gap-3">
                            <AntiforgeryToken/>
                            <MudText Color="Color.Primary" Align="Align.Center" Typo="Typo.h5">@AppLang.Create_Account</MudText>
                            <MudTextField T="string" @bind-Value="CurrentRequestModel.UserName" For="() => CurrentRequestModel.UserName" Adornment="Adornment.Start"
                                          UserAttributes="@(new Dictionary<string, object> { { "name", "Username" }, { "autocomplete", "current-username" } })"
                                          Class="mud-width-full" Required OnAdornmentClick="UsernameClickEvent" InputType="InputType.Text"
                                          ErrorText="@UserErrorText" Error="@(!string.IsNullOrEmpty(UserErrorText))"
                                          AdornmentColor="Color.Primary" Variant="Variant.Outlined" AdornmentIcon="fa-solid fa-user" Placeholder="@AppLang.Username">
                            </MudTextField>

                            <MudButton OnClick="UsernameProcess" Disabled="@Loading"
                                       Class="rounded-pill" Style="max-width: 400px"
                                       Color="Color.Primary"
                                       FullWidth Variant="Variant.Filled">
                                @if (Loading)
                                {
                                    <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true"/>
                                    <MudText Class="ms-2">@AppLang.Processing</MudText>
                                }
                                else
                                {
                                    @AppLang.Sign_In
                                }
                            </MudButton>
                        </div>
                    </MudForm>
                </div>
            </MudCarouselItem>
            @* Password *@
            <MudCarouselItem Transition="Transition.Slide" Color="@Color.Default">
                <div class="d-flex mud-width-full mud-height-full">
                    <MudForm @ref="PasswordForm" @bind-Errors="@FormError" @bind-IsValid="IsValid" Class="align-center justify-center mud-width-full">
                        <div class="form gap-3">
                            <AntiforgeryToken/>
                            <MudText Color="Color.Primary" Align="Align.Center" Typo="Typo.h5">@AppLang.Enter_password</MudText>

                            <MudTextField T="string" @bind-Value="CurrentRequestModel.Password" For="() => CurrentRequestModel.Password" Adornment="Adornment.Start"
                                          UserAttributes="@(new Dictionary<string, object> { { "name", "Password" }, { "autocomplete", "current-password" } })"
                                          Class="mud-width-full" Required InputType="PasswordInput"
                                          ErrorText="@PasswordErrorText" Error="@(!string.IsNullOrEmpty(PasswordErrorText))"
                                          AdornmentColor="Color.Primary" Variant="Variant.Outlined" AdornmentIcon="@PasswordIcon" OnAdornmentClick="PasswordShowEvent"
                                          Placeholder="@AppLang.Password">
                            </MudTextField>

                            <MudButton OnClick="PasswordProcess" Disabled="@Loading"
                                       Class="rounded-pill" Style="max-width: 400px"
                                       Color="Color.Primary"
                                       FullWidth Variant="Variant.Filled">
                                @if (Loading)
                                {
                                    <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true"/>
                                    <MudText Class="ms-2">@AppLang.Processing</MudText>
                                }
                                else
                                {
                                    @AppLang.Sign_In
                                }
                            </MudButton>
                        </div>
                    </MudForm>
                </div>
            </MudCarouselItem>
            @* Password *@


            <MudCarouselItem Transition="Transition.Fade" Color="@Color.Default">
                <div class="d-flex flex-column align-center justify-center mud-width-full mud-height-full">
                    <div class="mud-width-full">
                        <MudText Typo="Typo.h5" Align="Align.Center">@AppLang.One_moment_please</MudText>
                        <MudProgressLinear Color="Color.Primary" Size="Size.Small" Indeterminate="true"/>
                        <div class="d-none">
                            <form id="loginForm" action="/api/Account/login" method="post">
                                <AntiforgeryToken/>
                                <div>
                                    <label for="UserName">Username:</label>
                                    <input type="text" id="UserName" name="username" value="@CurrentRequestModel.UserName" required>
                                </div>
                                <div>
                                    <label for="Password">Password:</label>
                                    <input type="password" id="Password" name="password" value="@CurrentRequestModel.Password" required>
                                </div>
                                <div>
                                    <label for="ReturnUrl">Password:</label>
                                    <input type="text" id="ReturnUrl" name="ReturnUrl" value="@CurrentRequestModel.ReturnUrl">
                                </div>
                                <button type="submit" id="login-btn">Login</button>
                            </form>
                        </div>
                    </div>
                </div>
            </MudCarouselItem>
        </MudCarousel>

    </div>
</div>

<script src="./Pages/Account/SignInPage.razor.js"></script>