@using Color = MudBlazor.Color
@using Size = MudBlazor.Size


@rendermode InteractiveAuto
@attribute [Route(PageRoutes.InternetOfThings.DeviceManagement)]
@* @attribute [Authorize] *@
@layout MainLayout

<PageTitle>@AppLang.DeviceManagement</PageTitle>

<div class="page-content-container">

    <MudDataGrid @ref="_dataGrid" T="PageModel" ServerData="ServerReload" Height="calc(100vh - var(--mud-appbar-height) - 115px)"
                 ReadOnly="true" FixedHeader="true"
                 Filterable="false" Dense="true" Bordered="true" Culture="CultureInfo.CurrentCulture" Hover="true" Striped="true">
        <ToolBarContent>
            <MudText Typo="Typo.h6">@AppLang.DeviceManagement</MudText>
            <MudSpacer/>

            <div class="d-flex flex-row gap-3">

                <div class="page-content-container-search-field-width">
                    <MudAutocomplete T="string" @bind-Value="DeviceSearchString" Placeholder="@AppLang.Search_device" SearchFunc="@SearchDevice"
                                     Adornment="Adornment.Start" Margin="Margin.Dense" Variant="Variant.Outlined"
                                     AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0">
                        <ProgressIndicatorTemplate>
                            <MudProgressLinear Size="Size.Small" Indeterminate="true" Color="Color.Success"/>
                        </ProgressIndicatorTemplate>
                    </MudAutocomplete>
                </div>

                <MudButton StartIcon="@Icons.Material.Filled.Add" Variant="Variant.Filled" OnClick="OpenAddDialog">@AppLang.Add</MudButton>
                <MudButton StartIcon="fa-solid fa-arrows-rotate" Variant="Variant.Filled" OnClick="ReloadPage">@AppLang.Refresh_data</MudButton>

            </div>


        </ToolBarContent>
        <Columns>
            <PropertyColumn Property="x => x.Device.DeviceId" Title="ID"/>
            <PropertyColumn Property="x => x.Device.DeviceName" Title="@AppLang.Device_name"/>
            <PropertyColumn Property="x => x.Device.Location" Title="@AppLang.Location"/>
            <PropertyColumn Property="x => x.Device.IpAddress" Title="@AppLang.IP_address"/>
            <PropertyColumn Property="x => x.Device.MacAddress" Title="@AppLang.MAC_address"/>
            <PropertyColumn Property="x => x.Device.Status" Title="@AppLang.Status"/>
            <TemplateColumn T="PageModel" Title="@AppLang.Action">
                <CellTemplate>

                    @context.Item.ActionContent

                </CellTemplate>
            </TemplateColumn>
        </Columns>
        <PagerContent>
            <MudDataGridPager InfoFormat="@AppLang.Table_row_content_format_page_per_row" RowsPerPageString="@AppLang.Rows_per_page" T="PageModel"/>
        </PagerContent>
    </MudDataGrid>

</div>