@using BusinessModels.System.InternetOfThings.status
@using BusinessModels.System.InternetOfThings.type
@using Size = MudBlazor.Size
@using Color = MudBlazor.Color
@using WebApp.Client.Components.Field
<MudDialog>
    <TitleContent>
        <div class="d-flex flex-row gap-3 align-center">
            <MudIcon Icon="@DialogIcon" Color="Color.Primary"></MudIcon>
            <MudText>@ConfirmButtonText</MudText>
            <MudSpacer/>
        </div>
    </TitleContent>
    <DialogContent>

        <MudForm @ref="Form" Model="SensorToEdit" Validation="@(_orderValidator.ValidateValueAsync)" Disabled="Processing" @bind-Errors="@ErrorMess" ValidationDelay="0">

            <MudCardContent>

                <MudTextField T="string" Label="Device ID" For="@(() => SensorToEdit.DeviceId)" Immediate="true" Disabled RequiredError="@AppLang.Required_field" Required @bind-Value="SensorToEdit.DeviceId"></MudTextField>
                <MudTextField T="string" Label="Sensor ID" For="@(() => SensorToEdit.SensorId)" Immediate="true" Disabled="IsEditing" RequiredError="@AppLang.Required_field" Required @bind-Value="SensorToEdit.SensorId"></MudTextField>
                <MudTextField T="string" Label="Sensor name" For="@(() => SensorToEdit.SensorName)" Immediate="true" @bind-Value="SensorToEdit.SensorName"></MudTextField>

                <EnumMudSelector T="IoTSensorType" For="@(() => SensorToEdit.IoTSensorType)" LabelString="@AppLang.Type" @bind-SelectedValue="SensorToEdit.IoTSensorType"/>
                <EnumMudSelector T="IoTSensorStatus" For="@(() => SensorToEdit.Status)" LabelString="@AppLang.Status" @bind-SelectedValue="SensorToEdit.Status"/>

                <MudTextField T="string" Label="@AppLang.Unit_of_measurement" For="@(() => SensorToEdit.UnitOfMeasurement)" Immediate="true" @bind-Value="SensorToEdit.UnitOfMeasurement"></MudTextField>
                <MudNumericField T="float" Label="@AppLang.Rotate" For="@(() => SensorToEdit.Rotate)" Immediate="true" @bind-Value="SensorToEdit.Rotate"></MudNumericField>

                <div class="d-flex flex-row">
                    <MudSpacer/>
                    <MudCheckBox @bind-Value="SensorToEdit.FlipVertical" For="@(() => SensorToEdit.FlipVertical)" 
                                 Label="@AppLang.Flip_vertical" Color="Color.Secondary"
                                 CheckedIcon="fa-solid fa-arrows-up-down" UncheckedIcon="fa-regular fa-circle"></MudCheckBox>
                    
                    <MudCheckBox @bind-Value="SensorToEdit.FlipHorizontal" For="@(() => SensorToEdit.FlipHorizontal)" Label="@AppLang.Flip_horizontal" Color="Color.Tertiary" 
                                 CheckedIcon="fa-solid fa-arrows-left-right" UncheckedIcon="fa-regular fa-circle"></MudCheckBox>
                </div>

                <MudNumericField T="float" Label="@AppLang.Accuracy" For="@(() => SensorToEdit.Accuracy)" Immediate="true" @bind-Value="SensorToEdit.Accuracy"></MudNumericField>
                <MudDatePicker Label="@AppLang.Calibration_time" Date="CalibrationTime" DateChanged="CalibrationTimeChanged"></MudDatePicker>

            </MudCardContent>

        </MudForm>

    </DialogContent>
    <DialogActions>
        <MudButton OnClick="CancelForm" Disabled="Processing" Variant="Variant.Outlined" Color="Color.Error">@AppLang.Cancel</MudButton>
        <MudButton OnClick="SubmitForm" Disabled="Processing" Variant="Variant.Filled" Color="Color.Success">
            @if (Processing)
            {
                <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true"/>
                <MudText Class="ms-2">@AppLang.Processing</MudText>
            }
            else
            {
                <MudText>
                    @ConfirmButtonText
                </MudText>
            }
        </MudButton>
    </DialogActions>
</MudDialog>