@using BusinessModels.System.InternetOfThings.status
@using BusinessModels.System.InternetOfThings.type
@using Size = MudBlazor.Size
@using Color = MudBlazor.Color
@using WebApp.Client.Components.Field


<MudDialog>
    <TitleContent>
        <div class="d-flex flex-row gap-3 align-center">
            <MudIcon Icon="@DialogIcon" Color="Color.Primary"></MudIcon>
            <MudText>@ConfirmButtonText</MudText>
            <MudSpacer/>
        </div>
    </TitleContent>
    <DialogContent>

        <MudTabs Elevation="4" Rounded="true" Centered="true" Color="@Color.Primary" KeepPanelsAlive="true" @bind-ActivePanelIndex="ActivateIndex">
            <MudTabPanel Text="@AppLang.Add_new_device">
                <MudForm Model="DeviceToEdit" @ref="_form" Disabled="Processing" Validation="@(_orderValidator.ValidateValueAsync)" ValidationDelay="0">

                    <MudCardContent>
                        <MudTextField T="string" Label="ID" For="@(() => DeviceToEdit.DeviceId)" Immediate="true" RequiredError="@AppLang.This_field_is_required" Disabled="IsEditing" Required @bind-Value="DeviceToEdit.DeviceId"></MudTextField>
                        <MudTextField T="string" Label="@AppLang.Device_name" For="@(() => DeviceToEdit.DeviceName)" Immediate="true" Required @bind-Value="DeviceToEdit.DeviceName"></MudTextField>
                        <MudTextField T="string" Label="@AppLang.Device_group" For="@(() => DeviceToEdit.DeviceGroupId)" Immediate="true" @bind-Value="DeviceToEdit.DeviceGroupId"></MudTextField>
                        <MudTextField T="string" Label="@AppLang.Manufacturer" For="@(() => DeviceToEdit.Manufacturer)" Immediate="true" @bind-Value="DeviceToEdit.Manufacturer"></MudTextField>
                        <MudTextField T="string" Label="@AppLang.Location" For="@(() => DeviceToEdit.Location)" Immediate="true" @bind-Value="DeviceToEdit.Location"></MudTextField>
                        <MudTextField T="string" Label="@AppLang.Firmware_version" For="@(() => DeviceToEdit.FirmwareVersion)" Immediate="true" @bind-Value="DeviceToEdit.FirmwareVersion"></MudTextField>

                        <MudTextField T="string" Label="@AppLang.MAC_address" For="@(() => DeviceToEdit.MacAddress)" Required="true" Immediate="true" @bind-Value="DeviceToEdit.MacAddress"></MudTextField>
                        <MudTextField T="string" Label="@AppLang.IP_address" For="@(() => DeviceToEdit.IpAddress)" Required="true" Immediate="true" @bind-Value="DeviceToEdit.IpAddress"></MudTextField>

                        <EnumMudSelector T="IoTDeviceType" For="@(() => DeviceToEdit.IoTDeviceType)" LabelString="@AppLang.Type" @bind-SelectedValue="DeviceToEdit.IoTDeviceType"/>
                        <EnumMudSelector T="IoTDeviceStatus" For="@(() => DeviceToEdit.Status)" LabelString="@AppLang.Status" @bind-SelectedValue="DeviceToEdit.Status"/>


                        <MudDatePicker Label="Installation Date" Date="InstallationDate" DateChanged="InstallationDateChanged"></MudDatePicker>

                    </MudCardContent>

                </MudForm>
            </MudTabPanel>
            <MudTabPanel Text="@AppLang.Sensors" Disabled="IsAddingDevice">

                <MudDataGrid T="SensorPageM" Items="Sensors" Filterable="false" Dense="true" Bordered="true" Culture="CultureInfo.CurrentCulture" Hover="true" Striped="true">
                    <ToolBarContent>
                        <MudText Typo="Typo.h6">Sensors</MudText>
                        <MudSpacer/>
                        <MudButton StartIcon="@Icons.Material.Filled.Add" Disabled="IsAddingDevice" OnClick="OpenAddDialog">@AppLang.Add_sensor</MudButton>
                    </ToolBarContent>
                    <Columns>
                        <PropertyColumn Property="x => x.IoTSensor.SensorId" Title="ID"/>
                        <PropertyColumn Property="x => x.IoTSensor.SensorName" Title="@AppLang.Name"/>
                        <PropertyColumn Property="x => x.IoTSensor.IoTSensorType" Title="@AppLang.Type"/>
                        <PropertyColumn Property="x => x.IoTSensor.Status" Title="@AppLang.Status"/>
                        <PropertyColumn Property="x => x.IoTSensor.Rotate" Title="Rotate"/>
                        <PropertyColumn Property="x => x.IoTSensor.CalibrationTime" Title="@AppLang.Calibration_time"/>

                        <TemplateColumn Title="@AppLang.Action">
                            <CellTemplate>

                                <div class="d-flex flex-row gap-3">
                                    <MudTooltip Arrow="true" Placement="Placement.Top" Color="Color.Secondary" Text="@AppLang.Edit">
                                        <MudIconButton Icon="@Icons.Material.Filled.Edit" Variant="Variant.Filled"
                                                       OnClick="@context.Item.EditButtonAction.Action" Disabled="@context.Item.EditButtonAction.Disabled"
                                                       Color="Color.Primary"/>
                                    </MudTooltip>

                                    <MudTooltip Arrow="true" Placement="Placement.Top" Color="Color.Secondary" Text="@AppLang.Delete">
                                        <MudIconButton Icon="@Icons.Material.Filled.Delete" Variant="Variant.Filled"
                                                       OnClick="@context.Item.DeleteButtonAction.Action" Disabled="@context.Item.DeleteButtonAction.Disabled"
                                                       Color="Color.Primary"/>
                                    </MudTooltip>
                                </div>

                            </CellTemplate>
                        </TemplateColumn>
                        
                    </Columns>
                    <PagerContent>
                        <MudDataGridPager RowsPerPageString="@AppLang.Table_row_content_format_page_per_row" T="SensorPageM"/>
                    </PagerContent>
                </MudDataGrid>

            </MudTabPanel>
        </MudTabs>


    </DialogContent>

    <DialogActions>

        @if (ActivateIndex == 0)
        {
            <MudButton OnClick="CancelForm" Variant="Variant.Outlined" Color="Color.Error" Disabled="Processing">@AppLang.Cancel</MudButton>
            <MudButton OnClick="SubmitForm" Variant="Variant.Filled" Color="Color.Success" Disabled="Processing">
                @if (Processing)
                {
                    <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true"/>
                    <MudText Class="ms-2">@AppLang.Processing</MudText>
                }
                else
                {
                    <MudText>
                        @ConfirmButtonText
                    </MudText>
                }
            </MudButton>
        }

    </DialogActions>

</MudDialog>