@using System.Text.RegularExpressions
@using Microsoft.Net.Http.Headers
@inject ILogger<App> Logger
<!DOCTYPE html>
<!--suppress HtmlRequiredTitleElement -->
<html lang="" >

<head>
    <meta charset="utf-8" />
    <meta content="width=device-width,initial-scale=1,shrink-to-fit=no,viewport-fit=cover" name="viewport" />
    <meta content="lsN6bSc4Yd1CLrf9JE_0ytdHW7rw0KKxupfVdu28aoc" name="google-site-verification" />
    <meta content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" name="googlebot" >
    <meta content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" name="bingbot" >
    <base href="/" />
    <link href="@Assets["css/app.css"]" rel="stylesheet" />
    <link href="@Assets["apple-touch-icon.png"]" rel="apple-touch-icon" sizes="180x180" >
    <link href="@Assets["favicon-32x32.png"]" rel="icon" sizes="32x32" type="image/png" >
    <link href="@Assets["favicon-16x16.png"]" rel="icon" sizes="16x16" type="image/png" >
    <link href="@Assets["site.manifest"]" rel="manifest" >
    <link href="@Assets["css/google-api.css"]" rel="stylesheet" type="text/css" />
    <link href="@Assets["fontawesome-free-6.5.2-web/css/all.css"]" rel="stylesheet" />
    <link href="@Assets["_content/MudBlazor/MudBlazor.min.css"]" rel="stylesheet" />
    <link href="@Assets["WebApp.styles.css"]" rel="stylesheet" />
    <ImportMap />
    <link href="@Assets["favicon.ico"]" rel="icon" type="image/x-icon" />
    <HeadOutlet @rendermode="@RenderModeForPage()" />
</head>

<body>

@* Loading Progress *@
<div class="refresh-icon" id="refreshIcon" >
    <img alt="reload" src="@Assets["images/200w.gif"]" >
</div>

<div class="progress-wrapper" id="progress-wrapper" >
    <div class="progress-box-wrap" >
        <div class="box one" ></div>
        <div class="box two" ></div>
        <div class="box three" ></div>
        <div class="box four" ></div>
        <div class="box five" ></div>
        <div class="box six" ></div>
    </div>
    <div class="progress-bar" >
        <div class="progress" ></div>
    </div>
</div>

@* Loading Progress *@

<Routes @rendermode="@RenderModeForPage()" />

<script src="@Assets["_content/BlazorMonaco/jsInterop.js"]"></script>
<script src="@Assets["_content/BlazorMonaco/lib/monaco-editor/min/vs/loader.js"]"></script>
<script src="@Assets["Pages/ContentManagementSystem/Editor/ContentCreatorPage.razor.js"]"></script>
<script src="@Assets["_content/BlazorMonaco/lib/monaco-editor/min/vs/editor/editor.main.js"]"></script>
<script src="_framework/blazor.web.js" ></script>
<script src="@Assets["_content/MudBlazor/MudBlazor.min.js"]" ></script>
<script src="@Assets["js/app.js"]" ></script>
<script src="@Assets["js/eventListener.js"]" ></script>
<script src="@Assets["js/encryption.js"]" ></script>

</body>

</html>

@code
{
    [CascadingParameter] private HttpContext HttpContext { get; set; } = default!;
    private bool IsBot { get; set; }


    protected override void OnInitialized()
    {
        var userAgent = HttpContextAccessor?.HttpContext?.Request.Headers[HeaderNames.UserAgent];
        if (userAgent.HasValue)
        {
            var agent = userAgent.ToString();
            if (!string.IsNullOrWhiteSpace(agent))
            {
                IsBot = Regex.IsMatch(agent, @"bot|crawler|baiduspider|80legs|ia_archiver|voyager|curl|wget|yahoo! slurp|mediapartners-google", RegexOptions.IgnoreCase);
            }

            Logger.LogInformation($"[BOT] {IsBot}");
        }

        base.OnInitialized();
    }

    private IComponentRenderMode? RenderModeForPage()
    {
        var mode = HttpContext.GetEndpoint()?.Metadata.GetMetadata<RenderModeAttribute>()?.Mode;
        if (mode == null) return null;

        if (mode == InteractiveWebAssembly)
        {
            return new InteractiveWebAssemblyRenderMode(false);
        }

        return mode;
    }

}