@using Color = MudBlazor.Color
@using Size = MudBlazor.Size
@rendermode InteractiveAuto
@attribute [Route(PageRoutes.InternetOfThings.DeviceGroupManagement)]
@* @attribute [Authorize] *@
@layout MainLayout

<PageTitle>@AppLang.DeviceGroupManagement</PageTitle>

<div class="page-content-container">

    <MudDataGrid T="PageModel" Filterable="false" Dense="true" Bordered="true" Culture="CultureInfo.CurrentCulture"
                 Height="calc(100vh - var(--mud-appbar-height) - 115px)" Items="Items"
                 Hover="true" Striped="true">
        <ToolBarContent>
            <MudText Typo="Typo.h6">@AppLang.DeviceGroupManagement</MudText>
            <MudSpacer/>

            <div class="d-flex flex-row gap-3">
                <div class="page-content-container-search-field-width">
                    <MudAutocomplete T="string" Placeholder="@AppLang.Search"
                                     Adornment="Adornment.Start" Margin="Margin.Dense" Variant="Variant.Outlined"
                                     AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0">
                        <ProgressIndicatorTemplate>
                            <MudProgressLinear Size="Size.Small" Indeterminate="true" Color="Color.Success"/>
                        </ProgressIndicatorTemplate>
                    </MudAutocomplete>
                </div>

                <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Add">@AppLang.Add</MudButton>
            </div>
            
           
        </ToolBarContent>
        <Columns>
            <PropertyColumn Property="x => x.Device.GroupId" Title="Id"/>
            <PropertyColumn Property="x => x.Device.GroupName" Title="@AppLang.Name"/>
            <PropertyColumn Property="x => x.Device.Location" Title="@AppLang.Location"/>
            <PropertyColumn Property="x => x.Device.OnlineDevices" Title="Online devices"/>
            <PropertyColumn Property="x => x.Device.Status" Title="@AppLang.Status"/>
            <TemplateColumn Title="@AppLang.Action">
                <CellTemplate>

                    <div class="d-flex flex-row gap-3">
                        <MudTooltip Arrow="true" Placement="Placement.Top" Color="Color.Secondary" Text="@AppLang.Edit">
                            <MudIconButton Icon="@Icons.Material.Filled.Edit" Variant="Variant.Filled"
                                           OnClick="@context.Item.UpdateBtn.Action" Disabled="@context.Item.UpdateBtn.Disabled"
                                           Color="Color.Primary"/>
                        </MudTooltip>

                        <MudTooltip Arrow="true" Placement="Placement.Top" Color="Color.Secondary" Text="@AppLang.Delete">
                            <MudIconButton Icon="@Icons.Material.Filled.Delete" Variant="Variant.Filled"
                                           OnClick="@context.Item.DeleteBtn.Action" Disabled="@context.Item.DeleteBtn.Disabled"
                                           Color="Color.Primary"/>
                        </MudTooltip>
                    </div>

                </CellTemplate>
            </TemplateColumn>
        </Columns>
        <PagerContent>
            <MudDataGridPager InfoFormat="@AppLang.Table_row_content_format_page_per_row" RowsPerPageString="@AppLang.Rows_per_page" T="PageModel"/>
        </PagerContent>
    </MudDataGrid>

</div>