<MudDialog>
   
    <DialogContent>
        <style>
            .mud-dialog-title{
                padding: 0px !important;
            }
            .mud-dialog-content{
                margin: 0px !important;
                padding: 0px !important;
            }

        </style>
        <MudPaper Class="mud-height-full mud-width-full" Style="overflow:hidden; position:relative;" Elevation="0">
            <MudDrawerContainer Class="mud-height-full" >
                <MudDrawer @bind-Open="@_open" Color="Color.Primary" Anchor="Anchor.End" Elevation="0" Variant="@DrawerVariant.Persistent" >
                    <MudDrawerHeader>
                        <MudText Typo="Typo.h6" >@File.FileName</MudText>
                    </MudDrawerHeader>

                    <MudNavMenu>
                        <MudNavLink Icon="@Icons.Material.Filled.Dashboard" IconColor="Color.Inherit" Match="NavLinkMatch.All" >Dashboard</MudNavLink>
                        <MudNavLink Icon="@Icons.Material.Filled.LocalLibrary" IconColor="Color.Inherit" Match="NavLinkMatch.All" >Library</MudNavLink>
                        <MudNavLink Icon="@Icons.Material.Filled.People" IconColor="Color.Inherit" Match="NavLinkMatch.All" >Community</MudNavLink>
                    </MudNavMenu>
                </MudDrawer>

                <div class="d-flex flex-column mud-height-full" >
                    <MudListSubheader Class="d-flex flex-row mt-4 pb-2 gap-2" >
                        <MudIconButton Class="rounded-circle aspect-1-1" Color="Color.Primary" Icon="@Icons.Material.Filled.Close" OnClick="@CloseDialog" Size="Size.Medium" Variant="Variant.Outlined" />
                        <MudChip Color="Color.Primary" Class="ma-0" Icon="@Icons.Material.Filled.FormatPaint" T="string" >Remix</MudChip>
                        <MudChip Color="Color.Secondary" Class="ma-0" Icon="@Icons.Material.Filled.Bookmark" T="string" >Save</MudChip>
                        <MudChip Color="Color.Tertiary" Class="ma-0" Icon="@Icons.Material.Filled.Image" T="string" >View post</MudChip>
                        <MudChip Color="Color.Tertiary" Class="ma-0" Icon="@Icons.Material.Filled.Bolt" T="string" >Tip</MudChip>

                        <MudSpacer />
                        <MudIconButton Class="rounded-circle aspect-1-1" Color="Color.Primary" Icon="@Icons.Material.Filled.ArrowDownward" Size="Size.Medium" Variant="Variant.Outlined" />
                        <MudIconButton Class="rounded-circle aspect-1-1" Color="Color.Primary" Icon="@Icons.Material.Filled.Share" Size="Size.Medium" Variant="Variant.Outlined" />
                        <MudIconButton Class="rounded-circle aspect-1-1" Color="Color.Primary" Icon="@Icons.Material.Filled.Flag" Size="Size.Medium" Variant="Variant.Outlined" />
                        <MudIconButton Class="rounded-circle aspect-1-1" Color="Color.Primary" Icon="@(_open ? Icons.Material.Filled.SwitchRight : Icons.Material.Filled.SwitchLeft)" OnClick="@ChangeSideBar" Size="Size.Medium" Variant="Variant.Outlined" />


                    </MudListSubheader>

                    <MudImage Fluid Src="@ImageUrl" UserAttributes="@ImageAttribute" ></MudImage>


                </div>
            </MudDrawerContainer>
        </MudPaper>
    </DialogContent>
</MudDialog>