@using BusinessModels.Resources


@attribute [Route(PageRoutes.Account.SignIn)]
@attribute [Route(PageRoutes.Account.SignInError + "/{ErrorMessage}")]
@attribute [Route(PageRoutes.Account.SignInError + "/{ErrorMessage}/{ReturnUrl}")]
@layout SignInLayout

<div class="sign-up-form">
    <div class="welcome-back px-3 background">
        <div class="firework-container" id="firework-container"></div>
        <MudText Typo="Typo.h5">@AppLang.Welcome_back_</MudText>
        <span>@AppLang.To_keep_connected_with_us_please_login_with_your_personal_info</span>
        <MudButton Href="@PageRoutes.Account.SignIn" Variant="Variant.Outlined" Color="Color.Secondary">@AppLang.Sign_In</MudButton>
    </div>
    <div class="main-form">
        <MudForm @ref="form" @bind-Errors="@FormError" @bind-IsValid="IsValidForm" UserAttributes="UserAttributes" Class="align-center justify-center mud-width-full">
            <div class="form gap-3">
                <AntiforgeryToken/>
                <MudText Color="Color.Primary" Align="Align.Center" Typo="Typo.h5">@AppLang.Create_Account</MudText>
                <MudTextField T="string" @bind-Value="CurrentRequestModel.UserName" For="() => CurrentRequestModel.UserName" Adornment="Adornment.Start"
                              UserAttributes="@(new Dictionary<string, object> { { "name", "Username" }, { "autocomplete", "current-username" } })"
                              Class="mud-width-full" Required OnAdornmentClick="UsernameClickEvent" InputType="InputType.Text"
                              AdornmentColor="Color.Primary" Variant="Variant.Outlined" AdornmentIcon="fa-solid fa-user" Placeholder="@AppLang.Username">
                </MudTextField>

                <MudTextField T="string" @bind-Value="CurrentRequestModel.Password" For="() => CurrentRequestModel.Password" Adornment="Adornment.Start"
                              UserAttributes="@(new Dictionary<string, object> { { "name", "Password" }, { "autocomplete", "current-password" } })"
                              Class="mud-width-full" Required InputType="PasswordInput"
                              AdornmentColor="Color.Primary" Variant="Variant.Outlined" AdornmentIcon="@PasswordIcon" OnAdornmentClick="PasswordShowEvent" 
                              Placeholder="@AppLang.Password">
                </MudTextField>

                <MudTextField Adornment="Adornment.End" @bind-Value="CurrentRequestModel.ReturnUrl"
                              Class="d-none" Required="false"
                              UserAttributes="@(new Dictionary<string, object> { { "name", "ReturnUrl" } })"
                              Variant="Variant.Outlined"/>

                <MudButton ButtonType="ButtonType.Submit"
                           Class="rounded-pill" Style="max-width: 400px"
                           Color="Color.Primary"
                           FullWidth Variant="Variant.Filled">
                    @AppLang.Sign_In
                </MudButton>
            </div>
        </MudForm>
    </div>
</div>
<script src="./Pages/Account/Login.razor.js"></script>